/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 26, 2016, 7:04:39 PM
    Author     : sarunaspaulikas
*/

.feedblock {
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
}

.feedtitle {
    cursor: pointer;
    color: #0c421b;
    float: left;
}

.feedtext {
    font-size: 11px;
    font-weight: normal;
    clear: both;
}

.notdisplay{
    display: none;
}

.category {
    cursor: pointer;
    background-color: #678a6b;
    color: white;
    padding: 3px;
    margin-bottom: 3px;
}

.categoryactive {
    cursor: pointer;
    background-color: #e2710d;
    color: white;
    padding: 3px;
    margin-bottom: 3px;
}